<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>
<h2>The tweet</h2>
<%= @tweet.text %>

Type: <%= @tweet.type %>
url : <%= @tweet.media_url %>
tweeted at : <%= @tweet.tweeted_at %>
created at :<%= @tweet.created_at %>